#hamburger:hover span:nth-child(2) {
  transform: translateX(10px);
  background-color: red;
}

#hamburger.is-active span:nth-child(1) {
  transform: translate(0px, -2px) rotate(45deg);
}

#hamburger.is-active span:nth-child(2) {
  opacity: 0;
  transform: translateX(15px);
}

#hamburger.is-active span:nth-child(3) {
  transform: translate(-3px, 3px) rotate(-45deg);
}

#hamburger.is-active span {
  background-color: red;
}
